:root,
body,
#root {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
.title {
  align-self: center;
  padding: 20px;
  font-size: 30px;
}
.Grid {
  align-self: center;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}
.Row {
  display: flex;
  flex-direction: row;
}
.Tile {
  border: solid 1px black;
}
